@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}
